@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
html {
  font-size: 16px;
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #ffffff;
  background-color: #065536;
}

a,
button,
input,
textarea {
  font-family: "Inter Tight", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1462px;
  width: 100%;
  margin: 0 auto;
  padding: 0 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.app__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 64px;
  padding: 0 72px;
  border-radius: 52px;
  background: linear-gradient(-45deg, #dede12 0%, #4c9912 50%, #0e7922 100%);
}
@media (max-width: 1200px) {
  .app__wrapper {
    gap: 32px;
    padding: 0 64px;
  }
}
@media (max-width: 1024px) {
  .app__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    padding: 40px 24px 0;
    border-radius: 32px;
  }
}
@media (max-width: 768px) {
  .app__wrapper {
    margin: 0 -10px;
  }
}
.app__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 480px;
          flex: 1 1 480px;
  min-width: 480px;
  padding: 36px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 1024px) {
  .app__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    min-width: auto;
    padding: 0;
  }
}
.app__content-title {
  margin: 0 0 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 72px;
  color: #fff;
}
@media (max-width: 1200px) {
  .app__content-title {
    font-size: 48px;
  }
}
@media (max-width: 1024px) {
  .app__content-title {
    font-size: 40px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .app__content-title {
    font-size: 36px;
  }
}
.app__content-description {
  max-width: 483px;
  margin: 0 0 28px;
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.01em;
  color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 1200px) {
  .app__content-description {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .app__content-description {
    margin: 0 auto 24px;
    text-align: center;
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .app__content-description {
    font-size: 15px;
  }
}
.app__content-download {
  margin: 0 0 28px;
}
@media (max-width: 1024px) {
  .app__content-download {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 24px;
  }
}
.app__content-download-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 22px 40px;
  font-family: "Inter Tight", sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.01em;
  color: #2a2925;
  border: 4px solid #ffffff;
  border-radius: 20px;
  background-color: #ffce06;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .app__content-download-button {
    padding: 14px 28px;
  }
}
@media (max-width: 1024px) {
  .app__content-download-button {
    max-width: 360px;
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .app__content-download-button {
    gap: 12px;
    width: 100%;
  }
}
.app__content-download-button::before {
  content: "";
  display: inline-block;
  width: 32px;
  aspect-ratio: 1/1;
  background: url(../assets/icons8-android-os.svg) center/cover no-repeat;
}
@media (max-width: 1200px) {
  .app__content-download-button::before {
    width: 24px;
  }
}
.app__content-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 12px;
}
@media (max-width: 1200px) {
  .app__content-info {
    gap: 8px;
  }
}
@media (max-width: 1024px) {
  .app__content-info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 4px;
  }
}
.app__content-info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 16px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0.04) 100%);
}
@media (max-width: 1200px) {
  .app__content-info-item {
    padding: 12px 10px;
  }
}
.app__content-info-item-title, .app__content-info-item-date {
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.01em;
  color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 1200px) {
  .app__content-info-item-title, .app__content-info-item-date {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .app__content-info-item-title, .app__content-info-item-date {
    font-size: 12px;
  }
}
.app__content-info-item-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: "Inter Tight", sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: -0.01em;
  color: #fff;
}
@media (max-width: 1200px) {
  .app__content-info-item-value {
    font-size: 20px;
  }
}
@media (max-width: 1024px) {
  .app__content-info-item-value {
    font-size: 15px;
  }
}
.app__phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 36px 0 0;
}
@media (max-width: 1024px) {
  .app__phones {
    padding: 0;
    margin: -20px -20px 0;
  }
}
.app__phones-image {
  display: block;
  max-width: 100%;
  width: 622px;
  height: auto;
}

.install {
  margin: 120px 0;
}
@media (max-width: 1200px) {
  .install {
    margin: 100px 0;
    overflow: hidden;
  }
}
.install__wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
.install__title {
  margin: 0 0 32px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 52px;
  text-align: center;
  color: #fff;
}
@media (max-width: 1200px) {
  .install__title {
    font-size: 46px;
  }
}
@media (max-width: 1024px) {
  .install__title {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .install__title {
    margin-bottom: 20px;
    font-size: 26px;
  }
}
.install__slider-step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 308px;
  height: 100%;
  overflow: hidden;
  border-radius: 16px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.08)), to(rgba(255, 255, 255, 0.2)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.2) 100%);
}
.install__slider-step-image {
  display: block;
  max-width: 100%;
  height: auto;
}
@media (max-width: 1200px) {
  .install__slider .swiper {
    overflow: visible;
  }
}
.install__slider .swiper-slide {
  width: auto;
}

.info {
  margin: 120px 0;
}
@media (max-width: 1200px) {
  .info {
    margin: 100px 0;
  }
}
.info__wrapper {
  padding: 72px;
  border-radius: 52px;
  background-color: #00492a;
}
@media (max-width: 1200px) {
  .info__wrapper {
    padding: 40px;
  }
}
@media (max-width: 1024px) {
  .info__wrapper {
    border-radius: 42px;
  }
}
@media (max-width: 768px) {
  .info__wrapper {
    padding: 40px 24px;
    margin: 0 -10px;
    border-radius: 32px;
  }
}
.info__title {
  margin: 0 0 32px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 52px;
  text-align: center;
  color: #fff;
}
@media (max-width: 1200px) {
  .info__title {
    font-size: 46px;
  }
}
@media (max-width: 1024px) {
  .info__title {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .info__title {
    margin-bottom: 20px;
    font-size: 26px;
  }
}
.info__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px 16px;
}
@media (max-width: 1200px) {
  .info__content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .info__content {
    grid-template-columns: repeat(1, 1fr);
  }
}
.info__content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 12px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.3333333333% - 10.6666666667px);
          flex: 0 0 calc(33.3333333333% - 10.6666666667px);
}
.info__content-item-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 44px;
  margin: 0;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 8px;
  background: radial-gradient(290.42% 141.42% at 100% 100%, #4c9912 0%, #0e7922 100%);
}
@media (max-width: 1200px) {
  .info__content-item-icon {
    width: 40px;
  }
}
@media (max-width: 768px) {
  .info__content-item-icon {
    width: 36px;
    border-radius: 6px;
  }
}
.info__content-item-icon-image {
  display: block;
  max-width: 100%;
  width: 26px;
  height: auto;
}
@media (max-width: 1200px) {
  .info__content-item-icon-image {
    width: 24px;
  }
}
@media (max-width: 768px) {
  .info__content-item-icon-image {
    width: 20px;
  }
}
.info__content-item-info-name {
  margin: 0 0 2px;
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.01em;
  color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 1200px) {
  .info__content-item-info-name {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .info__content-item-info-name {
    font-size: 13px;
  }
}
.info__content-item-info-value {
  font-family: "Inter Tight", sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.01em;
  color: #fff;
}
@media (max-width: 1200px) {
  .info__content-item-info-value {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .info__content-item-info-value {
    font-size: 15px;
  }
}

.promocodes {
  margin: 120px 0;
}
@media (max-width: 1200px) {
  .promocodes {
    margin: 100px 0;
    overflow: hidden;
  }
}
.promocodes__wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
.promocodes__title {
  margin: 0 0 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 52px;
  color: #fff;
}
@media (max-width: 1200px) {
  .promocodes__title {
    font-size: 46px;
  }
}
@media (max-width: 1024px) {
  .promocodes__title {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .promocodes__title {
    margin-bottom: 20px;
    font-size: 26px;
    text-align: center;
  }
}
@media (max-width: 1200px) {
  .promocodes__slider .swiper {
    overflow: visible;
  }
}
.promocodes__slider .swiper-slide {
  width: auto;
}
.promocodes__card {
  position: relative;
  display: block;
  max-width: 308px;
  height: 100%;
  padding: 0 20px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  background-color: #003f20;
}
.promocodes__card-figure {
  margin: 0 -20px;
  border: 2px solid #003f20;
  border-radius: 12px;
  overflow: hidden;
}
.promocodes__card-figure-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.promocodes__card-tag {
  position: absolute;
  top: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: inherit;
      align-content: inherit;
  gap: 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 10px;
  border-radius: 6px;
}
.promocodes__card-tag_deposit {
  left: 6px;
  max-width: calc((100% - 12px) / 2);
  border: 1px solid #ffffff;
  background-color: #ffffff;
}
.promocodes__card-tag_time {
  right: 6px;
  max-width: calc((100% - 12px) / 2 - 20px);
  border: 1px solid rgba(255, 255, 255, 0.26);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.12) 0%, rgba(0, 0, 0, 0.04) 100%);
}
.promocodes__card-tag-icon-image {
  display: block;
  max-width: 100%;
  width: 20px;
  height: auto;
}
.promocodes__card-tag-text {
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.01em;
  text-align: center;
  color: #ffffff;
}
.promocodes__card-tag_deposit .promocodes__card-tag-text {
  color: #161a18;
}
.promocodes__card-tag_time .promocodes__card-tag-text {
  color: #ffffff;
}
.promocodes__card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  padding: 12px 0;
}
.promocodes__card-info-title {
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.01em;
  color: #fff;
}
.promocodes__card-info-description {
  font-family: "Inter Tight", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.01em;
  text-align: right;
  color: #fff;
}
.promocodes__card-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  margin: 0 -20px;
  padding: 12px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.promocodes__card-details-text {
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.01em;
  color: rgba(255, 255, 255, 0.8);
}
.promocodes__card-details-more-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.01em;
  color: #ffffff;
  border: none;
  outline: none;
  opacity: 0.5;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  cursor: pointer;
}
.promocodes__card-details-more-link:hover {
  opacity: 1;
}
.promocodes__card-details-more-link::after {
  content: "";
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 20px;
  aspect-ratio: 1/1;
  background: url(../assets/arrow-right.svg) center/cover no-repeat;
}
.promocodes__card-details-more-link:hover::after {
  -webkit-filter: brightness(0%) invert(100%);
          filter: brightness(0%) invert(100%);
}
.promocodes__card-main {
  padding: 20px 0;
}
.promocodes__card-main-wrapper {
  position: relative;
  padding: 10px 14px 12px;
  padding-right: 52px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  -webkit-box-shadow: inset 4px 4px 12px 0 rgba(4, 44, 21, 0.8), inset -2px -2px 32px 0 rgba(4, 44, 21, 0.8);
          box-shadow: inset 4px 4px 12px 0 rgba(4, 44, 21, 0.8), inset -2px -2px 32px 0 rgba(4, 44, 21, 0.8);
  background-color: #003f20;
}
.promocodes__card-main-text {
  margin: 0 0 2px;
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: rgba(255, 255, 255, 0.8);
}
.promocodes__card-main-code {
  font-family: "Inter Tight", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.01em;
  background: radial-gradient(354.6% 128.08% at 96.6% 84.09%, rgb(222, 222, 18) 0%, rgb(76, 153, 18) 64.8347258568%, rgb(14, 121, 34) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.promocodes__card-main-copy {
  position: absolute;
  top: 50%;
  right: 14px;
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 24px;
  aspect-ratio: 1/1;
  border: none;
  outline: none;
  background: url(../assets/file-copy.svg) center/cover no-repeat;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0.8;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  cursor: pointer;
}
.promocodes__card-main-copy:hover {
  opacity: 1;
}
.promocodes__card-get-button {
  display: inline-block;
  width: 100%;
  padding: 11px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter Tight", sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.01em;
  text-align: center;
  color: #004f30;
  border: none;
  border-radius: 10px;
  background-color: #ffffff;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
.promocodes__card-get-button:hover {
  color: #ffffff;
  background-color: #004f30;
}